@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: 'Pretendard-Bold';
  src: url('../fonts/Pretendard-Bold.woff')
}
@font-face{
  font-family: 'Pretendard-SemiBold';
  src: url('../fonts/Pretendard-SemiBold.woff')
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
